numpy
pandas
langchain
langgraph
groq
python-dotenv
faiss-cpu
tqdm
pydantic
typing-extensions
dotenv
streamlit
langchain_ollama
langchain_huggingface
langchain_chroma
sentence-transformers
langchain_core
rembg
fastapi
uvicorn
